<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.softala.passi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ValikkoActivity"
            android:label="Työkykypassi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KirjauduActivity"
            android:label="Kirjaudu" />
        <activity
            android:name=".TehtavakorttiNostoActivity"
            android:label="@string/title_activity_tehtavakortti_nosto" />
        <activity
            android:name=".TyoasentoActivity"
            android:label="@string/title_activity_tyoasento" />
        <activity android:name=".KulttuuripassiActivity" />
        <activity android:name=".OhjeistusTyohonActivity" />
        <activity android:name=".OmaTapaLiikkuaActivity" />
        <activity android:name=".TurvallisuuskavelyActivity" />
        <activity android:name=".TyotaHakemassaActivity" />
        <activity
            android:name=".VaarakarttaActivity"
            android:label="@string/title_activity_vaarakartta" />
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" />

        <activity android:name=".PassinValintaActivity" />
        <activity android:name=".GeneerinenKorttiActivity" />
        <activity android:name=".TehtavakortinValintaActivity" />
        <activity android:name=".Turvallisuuskavely_johdantoActivity" />
        <activity
            android:name=".Turvallisuuskavely_suunnitelmaActivity"
            android:label="@string/title_activity_turvallisuuskavely_suunnitelma" />
        <activity
            android:name=".Turvallisuuskavely_toteutusActivity"
            android:label="@string/title_activity_turvallisuuskavely_toteutus" />
        <activity
            android:name=".Camera2Activity"
            android:label="@string/title_activity_camera2" />
        <activity
            android:name=".turvallisuuskavely_toteutus_2"
            android:label="@string/title_activity_turvallisuuskavely_toteutus_2"></activity>
    </application>

</manifest>